# Секреты и токены
.env

# База данных SQLite
*.db
*.sqlite3

# Виртуальное окружение Python
venv/
env/

# Файлы кэша Python
__pycache__/
*.pyc

# Файлы настроек редакторов
.vscode/
.idea/

# Временные файлы (CSV, логи)
*.csv
*.log